body{
    margin: 0;
    padding: 0  ;
    align-items: center;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(./ptbr/MEDIA/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(./ptbr/MEDIA/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(./ptbr/MEDIA/fonts/Montserrat-Regular.ttf);
}

/*TELA*/
.screen-4{
    background-color: #CBE0DB;
    width: 414px;
    height: 800px;
    border-radius: 55px;    
    top: 50px;
    left: 0px;
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

/*FUNDO*/
.fundo-dog{
    background-color: #519E8A;;
    width: 415px;
    height: 500px;
    border-radius: 50px;
    top: 0px;
    left: 0px;
    position: relative;
}

/*IMAGEM*/
.img-cat img{
    position: absolute;
    width: 400px;
    top: 30px;
    left: 20px;
}

/*VOLTAR*/

.voltar{
    position: relative;
    top: 50px;
    left: -170px;
}

/*CAIXINHAS*/
.caixinhas{
    width: 80px;
    height: 80px;
    background-color: #E8DBD4;
    position: relative;
    top: 355px;
    margin-left: 10px;
    flex-direction: row;
    display: inline-flex;
    opacity: 0.9;
    border-radius: 15px;
    justify-content: center;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    color: #2C4674;
}

.titles-box{
    font-family: 'Montserrat-Bold';
    font-size: 14px;
    color: #2C4674;
    width: 100px;
    height: 20px;
    top: 10px;
    position: absolute;
}

.box-txt{
    position: relative;
    top: 50px;
}

/*CARD-BODY*/

/*NOME E RAÇA*/
.petname{
    font-size: 24px;
    font-family: 'Montserrat-Bold';
    color: #2C4674;
    position: relative;
    float: left;
    left: 35px;
    top: 20px;
}

.petbreed{
    font-size: 16px;
    font-family: 'Montserrat-Medium';
    color: #2C4674;
    position: relative;
    float: left;
    top: 50px;
    left: -20px;
}

/*PREÇO/VALOR*/
.value{
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    color: #2C4674;
    position: relative;
    top: 40px;
    right: -90px;
}

/*FOTO*/
.foto{
    position: relative;
    float: left;
    top: 80px;
    left: -60px;
}

/*LEGENDA FOTO*/
.nome-foto{
font-family: 'Montserrat-Medium';
font-size: 16px;
color: #2C4674;
position: relative;
top: 100px;
right: 120px;
}

.local{
font-family: 'Montserrat-Medium';
font-size: 16px;
color: #2C4674;
position: relative;
top:100px;
right: 100px;
}

/*BOTAO PAG INICIAL*/
.pag-inicial{
font-family: 'Montserrat-Medium';
font-size: 18px;
color: #FFFFFF;
background-color: #519E8A;;
width: 300px;
height: 50px;
display: flex;
position: relative;
align-items: center;
text-align: center;
justify-content: center;
border-radius: 45px;
top: 120px;
left: 50px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

/*ANIMAÇÕES*/
.pag-inicial:hover{
    width: 305px;
    height: 55px;
    transition: 0.4s;
    transition-delay: 0.5;
}

.voltar:hover{
    left: -180px;
    transition: 0.5s;
    transition-delay: 0.5;
    /*animation: 1.5s ease-in-out;
    animation-delay: 0.2s;*/
}