body{
    align-items: center;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(./ptbr/MEDIA/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(./ptbr/MEDIA/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(./ptbr/MEDIA/fonts/Montserrat-Regular.ttf);
}

.screen-2{
    background-color: #CBE0DB;
    width: 414px;
    height: 800px;
    border-radius: 55px;    
    top: 0px;
    left: 0px;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.titulo{
    color:#2C4674;
    display: flex;
    text-align: center;
    font-family: Montserrat-Regular;
    font-size: 18px;
    justify-content: space-between;
}

.pesquisar{
    display: flex;
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
}


.voltar{
    width: 40px;
    margin-top: 50px;
    margin-left: 10px;
}

.menu{
    margin-right: 30px;
    margin-top: 40px;
}

.lupaTxt{
    width: 25px;
    display: flex;
    margin-left: 10px;
}
.barraPesquisa{
    display: flex;
    margin-top: 10px;
    opacity: 0.8;
    margin-left: 30px;
    font-family: Montserrat-Medium;
    align-items: center;
    justify-content: flex-start;
    background-color: whitesmoke;
    width: 350px;
    height: 45px;
    border-radius: 50px;
}

.tags{
    flex-direction: row;
    display: flex;
    margin-top: 25px;
    opacity: 0.8;
    font-family: Montserrat-Regular;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
    
}

.tag-cachorro{
    background-color: #519E8A;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Montserrat-Medium;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.dogIcon{
    width: 25px;
    display: flex;
}


.tag-gato{
    background-color: #FFFFFF;
    color: #2C4674;
    font-family: Montserrat-Medium;
    opacity: 0.9;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Cat{
    width: 25px;
    display: flex;
}
.cards{
    background-color: #519E8A;
    border-radius: 30px;
    width: 150px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding: 0.2em;
    margin: .4em;
    margin-bottom: 2rem;
    align-items: center;
}

.doguinho{
    width: 120px;
    height: 120px;
    position: relative;
    justify-content: center;
    border-radius: 20px;
    display: flex;
}

.card-body{
    background-color: white;
    width: 156px;
    height: 82px;
    margin-bottom: -40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

